body{
    /* width: 80%; */
    /* margin: 0 auto; */
    background-color: rgb(245, 248, 255);
}




.navber{
    display: flex;
    justify-content: space-between;
     width:80% ;
     margin: 0 auto;
    align-items: center;
  

}
.navber-section{
    display: flex;
   list-style: none;
   gap: 48px;
  
}
.navber-section li:nth-child(2),
 .navber-section li:nth-child(3) {
    color:rgb(137, 135, 161)  ;
}
.banner{
     width:80% ;
     margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
    
}
.banner-section{
    font-weight: 700;
    font-size: 50px;
}
#banner-title{
    color: rgb(233, 90, 8);
}
.banner p {
   margin-top: -30px;

}

#plan-title{
    color: rgb(233, 90, 8);
}
.plant-container{
     width:80% ;
     margin: 0 auto;
              margin-top: 50px;
              
    
}
.plant-section{
    
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.plant-section p{
    margin-top: -10px;
    padding: 0px 150px;
}
.image-container{
    width: 236px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
}
.image-container h4 {
    margin-top: -10px;
    font-weight: 900;
}
.image-card{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
}
.image-container button{
    background-color:rgb(233, 90, 8) ;
    padding: 10px;
    color: white;
    border: none;
}
.image-container h5 {
    font-weight: bold;
}
.image-container h3 {
    color: rgb(17, 17, 17);
}

.flower-plant{
     width:80% ;
     margin: 0 auto;
    display: flex;
    gap: 50px;
    margin-top: 150px;
    /* width: 100%; */
    height: 500px;
    
  
   
}
#image-plant {
    height:470px;
    width: 470px;
   
  
}
.list-item{
    display: flex;
    flex-direction: column;
 
}
#badge-possition{
     position: relative;

}
#badge{
    position: absolute;
    height: 200px;
    width: 200px;
    top: -90px;
    right: -80px;
}
.list-item ul>li {
   
    margin-bottom: 30px;
    width: 100%;
}
.list-item h1 {
    font-size: 50px;
}
.deal-section{
   
    padding-top: 50px;
    text-align: center;
    width: 53%;
    margin: 0 auto;
 
  
}
.deal-i{
     width:80% ;
     margin: 0 auto;
}
.deal-image{
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 28px;
   
}

.image-colum  {
    display: flex;
    flex-direction: column;
    gap: 25px;
   
}


#image-1{
    background-image: url("../assets/deal-bloom.png");
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
  
}
#image-2{
    background-image: url("../assets/deal-ana.png");
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
}
.image-1 h3 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.image-1 u {
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}
.image-2 h3 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.image-2 u {
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}
#image-3{
    background-image: url("../assets/deal-zabo.png");
    width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 425px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255) ;
    border-radius: 10px;

}
#image-3 h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
#image-3 u {
    font-size:30px;
    font-weight: bold;
    margin-top: -30px;
}
#image-4{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    justify-items: center;
    justify-content: center;
   text-align: center;
}
#email{
   width: 530px;
   height: 20px;
   margin-top: 2;
   /* margin-right: -20px; */
   padding: 10px;
}
.input-type{
    display: flex;
    justify-content: center;
}
#subscribe{
    width: 100px;
    height: 43px;
    background-color: #E95A08;
    color: rgb(255, 255, 255);
    border: none;
  }
 #image-4 h1{
        font-size: 50px;
        font-weight: bold;
        color:rgb(255, 255, 255) ;
    }
    .ftr{
        width: 80%;
        margin: 0 auto;
        display: flex;
       padding-top: 50px;
      
    }

  .footer-link{
    display: flex;
    flex: none;
    flex: 2;
    gap: 200px;
    justify-content: center;
    width: 500px;
  }
  .footer-link ul {
    list-style: none;
    padding: 0;
  }
  .footer-link li {
    margin-bottom: 32px;
    
  }
  .footer-left h2 {
    width: 120px;
    margin-bottom: -10px
    
  }
  .footer-left p {
    width: 300px;
    left: 1.5;
  }
  .footer-social{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-left: 30px;
  }
  .footer-social img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}



   
    
   
   

   
   
    

    
